/*Activities results settings*/

#activities {
    margin-top: 50px;
}

#activities > div, .firstcolumn, .secondcolumn, .thirdcolumn, .fourthcolumn {
    justify-content: space-between;
}

#activities h3 {
    font-size: 13px;
    font-weight: bold;
    padding-left: 15px;
}

.firstcolumn, .secondcolumn, .thirdcolumn, .fourthcolumn {
    flex-direction: column;
}

.firstcolumn, .secondcolumn > section, .thirdcolumn, .fourthcolumn > section {
    box-shadow: 0 0 15px lightgrey;
    border-radius: 20px;
    overflow: hidden;
}

.largeCard, .midCard, .smallCard {
    margin: 0;
    width: 270px;
}

.smallCard > img, .fourthcolumn img {
    object-position: top;
}

.largeCard {
    height: 350px;
}

.midCard {
    height: 150px;
}

.smallCard {
    height: 120px;
}