* li {
    list-style: none;
}

* a {
    text-decoration: none;
    color: black;
}

body {
    font-family: 'Raleway', sans-serif;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}

header, #intro, #housing, #activities {
    margin: 0px 50px 0px 50px;
}

header, #navbar1, .navlink, form, form > div, #filtercontainer, #filterlist, .filterdot, .filtericon, #filterResults, #housing, #housingresults ul, #topfavorites > div, .favoritecard a, #activities > div, .firstcolumn, .secondcolumn, .thirdcolumn, .fourthcolumn, footer {
    display: flex;
}

.largeCard > img, .midCard > img, .smallCard > img, .housingcard figure img, .favoritecard figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Stars colors*/

.fass {
    color: #0065FC;
}

.far {
    color: lightgrey;
}