@media screen and (max-width: 950px) {

    header > figure {
        flex: 3;
    }
}

@media screen and (max-width: 660px) {

    header {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    header > ul:first-of-type {
        margin-top: 20px;
        order: 2;
        grid-row-start: 2;
        grid-column-end: span 3;
    }

    header > ul:first-of-type .navlink {
        padding: 10px 0;
        border-bottom: 3px solid #F2F2F2;
    }

    header > ul:first-of-type .navlink:hover {
        border-bottom: 3px solid #0065FC;
        border-top: none;
    } 

    header > ul:last-of-type {
        order: 1;
        grid-column-start: 3; 
    }

    header > ul:last-of-type .navlink {
        border: none;
    }
}