/*Housing title settings*/

#intro {
    padding-left: 10px;
}

#housingtitle {
    margin-top: 20px;
}

#housingtitle > h1 {
    margin-bottom: 0;
    font-weight: bold;
    font-size: 20px;
}

#housingtitle > p {
    margin-top: 5px;
    font-size: 15px;
}

/*Housing search field settings*/

form {
    width: 360px;
    margin-top: 20px;
    border: solid 1px #F2F2F2;
    border-radius: 15px 15px 15px 15px;
    overflow: hidden;
}

form > div {
    height: 50px;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    flex: 2;
}

form > input {
    flex: 5;
    border: none;
    font-weight: bold;
    font-size: 15px;
    padding-left: 5%;
}

form > button {
    flex: 4;
    border: none;
    background-color: #0065FC;
    color: white;
    font-size: 15px;
    font-weight: 600;
}

button > .fa-search {
    display: none;
}

/*Housing filters settings*/

#filtercontainer > h2 {
    margin-right: 20px;
    font-size: 18px;
}

#filtercontainer {
    align-items: center;
    width: 70%;
}

#filterlist {
    align-items: center;
    height: 60px;
    width: 100%;
    padding-left: 0;
}

.filterdot {
    height: 42px;
    align-items: center;
    flex: 1 1 auto;
    border-top: solid;
    border-right: solid;
    border-bottom: solid;
    border-color: lightgrey;
    border-radius: 30px;
    border-width: 2px;
    margin-right: 20px;
    cursor: pointer;
}

.filtericon {
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 45px;
    color: #0065FC;
    border-radius: 30px;
    background-color: #DEEBFF;
    box-shadow: inset 0 0 0 0 #0065FC;
    transition: ease-out 0.3s;
    flex-shrink: 0;
}

.filterdot:hover > .filtericon {
    box-shadow: inset 0 0 0 45px #0065FC;
    color: #DEEBFF;
}

.filterdot p {
    font-weight: bolder;
    text-align: center;
    font-size: 16px;
    flex-grow: 1;
}

#filterResults {
    align-items: center;
    margin-bottom: 20px;
}

#filterResults > div {
    margin-right: 10px;
    padding: 3px 8px 3px 8px;
    color: #0065FC;
    border: solid 2px #F2F2F2;
    border-radius: 20px;
    font-size: 12px;
}