/*Global settings*/

* li {
    list-style: none;
}

* a {
    text-decoration: none;
    color: black;
}

body {
    font-family: 'Raleway', sans-serif;
    width: 1300px;
    max-width: 100%;
    margin: 0 auto;
}

header, #intro, #housing, #activities {
    margin: 0px 50px 0px 50px;
}

header, #navbar1, .navlink, form, form > div, #filtercontainer, #filterlist, .filterdot, .filtericon, #filterResults, #housing, #housingresults ul, #topfavorites > div, .favoritecard a, #activities > div, .firstcolumn, .secondcolumn, .thirdcolumn, .fourthcolumn, footer {
    display: flex;
}

.largeCard > img, .midCard > img, .smallCard > img, .housingcard figure img, .favoritecard figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Stars colors*/

.fass {
    color: #0065FC;
}

.far {
    color: lightgrey;
}

/*Header settings*/

/*Logo settings*/

header > figure {
    margin: 30px 0 0 10px;
    flex: 5;
}

/*Nav bar settings*/

#navbar1 {
    flex: 2;
    margin-top: 0;
    padding-left: 0;
}

#navbar2 {
    flex: 1;
    margin: 0;
    padding: 0;
}

.navlink {
    padding-top: 40px;
    justify-content: center;
    flex: 1 1 auto;
}

#navbar2 a {
    color: #0065FC;
    font-weight: bold;
}

.navlink:hover {
    border-top: 2px solid #0065FC;
    padding-top: 38px;
}

.navlink:hover > a {
    color: #0065FC;
}

/*Housing options and search field settings*/

/*Housing title settings*/

#intro {
    padding-left: 10px;
}

#housingtitle {
    margin-top: 20px;
}

#housingtitle > h1 {
    margin-bottom: 0;
    font-weight: bold;
    font-size: 20px;
}

#housingtitle > p {
    margin-top: 5px;
    font-size: 15px;
}

/*Housing search field settings*/

form {
    width: 360px;
    margin-top: 20px;
    border: solid 1px #F2F2F2;
    border-radius: 15px 15px 15px 15px;
    overflow: hidden;
}

form > div {
    height: 50px;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    flex: 2;
}

form > input {
    flex: 5;
    border: none;
    font-weight: bold;
    font-size: 15px;
    padding-left: 5%;
}

form > button {
    flex: 4;
    border: none;
    background-color: #0065FC;
    color: white;
    font-size: 15px;
    font-weight: 600;
}

button > .fa-search {
    display: none;
}

/*Housing filters settings*/

#filtercontainer > h2 {
    margin-right: 20px;
    font-size: 18px;
}

#filtercontainer {
    align-items: center;
    width: 70%;
}

#filterlist {
    align-items: center;
    height: 60px;
    width: 100%;
    padding-left: 0;
}

.filterdot {
    height: 42px;
    align-items: center;
    flex: 1 1 auto;
    border-top: solid;
    border-right: solid;
    border-bottom: solid;
    border-color: lightgrey;
    border-radius: 30px;
    border-width: 2px;
    margin-right: 20px;
    cursor: pointer;
}

.filtericon {
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 45px;
    color: #0065FC;
    border-radius: 30px;
    background-color: #DEEBFF;
    box-shadow: inset 0 0 0 0 #0065FC;
    transition: ease-out 0.3s;
    flex-shrink: 0;
}

.filterdot:hover > .filtericon {
    box-shadow: inset 0 0 0 45px #0065FC;
    color: #DEEBFF;
}

.filterdot p {
    font-weight: bolder;
    text-align: center;
    font-size: 16px;
    flex-grow: 1;
}

/*Search results info*/

#filterResults {
    align-items: center;
    margin-bottom: 20px;
}

#filterResults > div {
    margin-right: 10px;
    padding: 3px 8px 3px 8px;
    color: #0065FC;
    border: solid 2px #F2F2F2;
    border-radius: 20px;
    font-size: 12px;
}

/*Housing search results and top favorites settings*/

/*Housing search results settings*/

#housing a:last-of-type {
    font-weight: bold;
}

#housingresults {   
    flex: 2;
    padding-left: 30px;
    margin-right: 35px;
    background-color: #F2F2F2;
    border-radius: 20px;
}

#housingresults > h2 {
    font-size: 20px;
    margin: 30px 0;
}

#housingresults ul {
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.housingcard {
    margin: 0px 30px 20px 0px;
    background-color: white;
    box-shadow: 0 0 20px lightgrey;
    font-size: 12px;
    border-radius: 20px;
}

.housingcard figure {
    margin: 5px 5px;
    border-radius: 15px 15px 0 0;
    overflow: hidden;
    padding: 0;
    width: 210px;
    height: 100px;
}

.housingtitle, .housinginfo, .housingranking {
    margin: 0;
    padding: 5px 0px 0px 15px;
}

.housinginfo {
    font-weight: normal;
}

.housingranking {
    padding-bottom: 10px;
    font-size: 11px;
}

#housingresults > p {
    margin-top: 5px;
}

/*Top favorites settings*/

#topfavorites {
    flex: 1;
    background-color: #F2F2F2;
    border-radius: 20px;
}

#topfavorites > div {
    justify-content: space-between;
}

#topfavorites > div > h2 {
    font-size: 20px;
    font-weight: bolder;
    margin: 30px 0px 20px 30px;
}

#topfavorites > div > i {
    color: black;
    align-self: center;
    font-size: 20px;
    margin: 10px 30px 0px 0px;
}

#topfavorites > ul {
    padding: 0;
    margin: 0;
}

.favoritecard a {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 20px lightgrey;
    margin: 10px 30px 30px 30px;
}

.favoritecard figure {
    width: 200px;
    height: 110px;
    border-radius: 15px 0 0 15px;
    overflow: hidden;
    margin: 5px 0px 5px 5px;
}

.favcardinfo {
    font-size: 12px;
    padding: 0px 20px 0px 20px;
    width: 100%;
}

.favcardinfo > h3 {
    font-size: 16px;
    font-weight: bolder;
    margin: 10px 0px 0px 0px;
}

.favcardinfo p {
    margin: 5px 0px 0px 0px;
    font-weight: normal;
}

.favcardinfo > div {
    font-size: 10px;
    padding: 0;
    margin-top: 30px;
    color: #0065FC;
}

/*Activities results settings*/

#activities {
    margin-top: 50px;
}

#activities > div, .firstcolumn, .secondcolumn, .thirdcolumn, .fourthcolumn {
    justify-content: space-between;
}

#activities h3 {
    font-size: 13px;
    font-weight: bold;
    padding-left: 15px;
}

.firstcolumn, .secondcolumn, .thirdcolumn, .fourthcolumn {
    flex-direction: column;
}

.firstcolumn, .secondcolumn > section, .thirdcolumn, .fourthcolumn > section {
    box-shadow: 0 0 15px lightgrey;
    border-radius: 20px;
    overflow: hidden;
}

.largeCard, .midCard, .smallCard {
    margin: 0;
    width: 270px;
}

.smallCard > img, .fourthcolumn img {
    object-position: top;
}

.largeCard {
    height: 350px;
}

.midCard {
    height: 150px;
}

.smallCard {
    height: 120px;
}

/*footer settings*/

footer {
    margin-top: 50px;
    background-color: #F2F2F2;
}

footer > section {
    margin-left: 50px;
    padding-bottom: 50px;
    flex: 1;
}

footer h2, footer p {
    font-size: 15px;
}

footer h2 {
    margin: 50px 0 30px 0;
}

/*Media queries*/

@media screen and (max-width: 1300px) {

    header, #intro, #housing, #activities {
        margin: 0;
    }

    #filterlist {
        flex-wrap: wrap;
    }

    #housing {
        flex-direction: column-reverse;
    }

    #housingresults {
        margin: 50px 0 0 0;
    }

    #housingresults > ul {
        flex-direction: column;
        align-content: space-around;
        justify-content: space-around;
        height: 500px;
    }

    .housingcard {
        width: 310px;
    }

    .housingcard figure {
        width: 300px;
        height: 150px;
    }

    #topfavorites > ul {
        margin: 0 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .favoritecard {
        width: 320px;
    }

    .favoritecard a {
        margin-right: 0;
        margin-left: 0;
    }

    .favoritecard figure {
        height: 120px;
        width: 260px;
    }
    
}

@media screen and (max-width: 1050px) {

    #filtercontainer {
        flex-direction: column;
    }

    #filtercontainer h2 {
        align-self: flex-start;
        margin-top: 30px;
    }

    #filterlist {
        margin-top: 0;
        height: 100%;
    }

    .housingcard {
        width: 250px;
    }

    .housingcard figure {
        width: 240px;
        height: 120px;
    }

    .favoritecard {
        width: 280px;
    }

    .favcardinfo h3 {
        font-size: 14px;
        margin-top: 20px;
    }

    .largeCard, .midCard, .smallCard {
        width: 220px;
    }
    
}

@media screen and (max-width: 950px) {

    header > figure {
        flex: 3;
    }

    #filtercontainer {
        width: 80%;
    }

    #housingresults {
        padding-left: 20px;
    }

    #housingresults > ul {
        
        height: 990px;
        margin: 0 0;
    }

    .housingcard {
        width: 350px;
    }

    .housingcard figure {
        width: 340px;
        height: 220px;
    }

    #topfavorites > ul {
        flex-direction: column;
    }

    .favoritecard {
        width: 100%;
    }

    .favoritecard figure {
        width: 280px;
        height: 160px;
    }

    .favcardinfo h3, .favcardinfo p  {
        font-size: 20px;
    }

    .favcardinfo div {
        font-size: 15px;
        margin-top: 60px;
    }

    .largeCard, .midCard, .smallCard {
        width: 200px;
    }
}

@media screen and (max-width: 820px) {

    #filtercontainer {
        width: 100%;
    }

    #housingresults > ul {
        height: 100%;
    }

    .housingcard {
        width: 600px;
    }

    .housingcard figure {
        width: 590px;
        height: 320px;
    }

    #activities > div {
        flex-direction: column;
        align-items: center;
    }

    .largeCard, .midCard, .smallCard {
        margin: 0;
        width: 590px;
        height: 400px;
        margin: 5px 5px;
        border-radius: 15px 15px 0 0;
        overflow: hidden;
    }

    .firstcolumn, .secondcolumn > section, .thirdcolumn, .fourthcolumn > section {
        width: 600px;
        margin-bottom: 50px;
    }
    
    #activities h3 {
        font-size: 15px;
    }
}

@media screen and (max-width: 660px) {

    header {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #navbar1 {
        height: 100%;
        margin: 0;
        order: 1;
        grid-row-start: 2;
        grid-column-end: span 3;
    }

    #navbar1 .navlink {
        padding: 10px 0;
        border-bottom: 3px solid #F2F2F2;
    }

    #navbar1 .navlink:hover {
        border-bottom: 3px solid #0065FC;
        border-top: none;
    } 

    #navbar2 {
        order: 2;
    }

    #navbar2 > .navlink {
        border: none;
    }

    #navbar2 {
        grid-column-start: 3;       
    }

    #filtercontainer {
        width: 60%;
    }

    .filterdot {
        flex: auto 0 0;
        margin-bottom: 15px;
    }

    .filterdot p {
        margin: 0 10px;
    }

    .housingcard {
        width: 450px;
    }

    .housingcard figure {
        width: 440px;
        height: 200px;
    }

    .favoritecard a {
        margin: 10px 20px 30px 20px;
    }
    
    .favoritecard figure {
        width: 250px;
        height: 150px;
    }

    .favcardinfo h3, .favcardinfo p  {
        font-size: 14px;
    }

    .favcardinfo div {
        font-size: 12px;
        margin-top: 50px;
    }

    .largeCard, .midCard, .smallCard {
        width: 440px;
        height: 200px;
    }

    .firstcolumn, .secondcolumn > section, .thirdcolumn, .fourthcolumn > section {
        width: 450px;
        margin-bottom: 50px;
    }
}


@media screen and (max-width: 560px) {
    #filtercontainer {
        width: 70%;
    }

    form span {
        display: none;
    }

    button .fa-search {
        display: list-item;
    }

    #activities h2 {
        font-size: 20px;
        margin-left: 40px;
    }
}

@media screen and (max-width: 476px) {

    #housingtitle h1 {
        font-size: 25px;
    }

    form > div {
        background-color: #F2F2F2;
    }
    #filtercontainer {
        width: 80%;
    }

    .filterdot p {
        font-size: 15px;
    }

    #housingresults, #topfavorites {
        background-color: white;
    }

    #housingresults {
        padding: 0;
        margin: auto;
    }

    .housingcard {
        width: 310px;
        margin: 0 0 20px 0;
    }
    
    .housingcard figure {
        width: 300px;
        height: 100px;
    }

    #topfavorites > ul {
        margin: 0;
    }

    .largeCard, .midCard, .smallCard {
        width: 300px;
        height: 100px;
    }
    
    .firstcolumn, .secondcolumn > section, .thirdcolumn, .fourthcolumn > section {
        width: 310px;
    }

    footer {
        flex-direction: column;
    }
}

@media screen and (max-width: 405px) {
    form {
        width: 100%;
    }

    form > div {
        flex: 1;
    }
    
    form > input {
        flex: 6;
    }
    
    form > button {
        flex: 1;
        border-radius: 15px 15px 15px 15px;
    }

    #filtercontainer {
        width: 100%;
    }

    .favoritecard figure {
        width: 240px;
        height: 120px;
    }

    .favcardinfo div {
        font-size: 10px;
        margin-top: 30px;
    }

    .favcardinfo h3 {
        margin-top: 20px;
    }

    #activities h2 {
        margin-left: 20px;
    }
}